body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.thumbnail {
  padding: 0;
}

h2 a {
  font-weight: 800;
  color: #8a8a8a;
  letter-spacing: 2px;
  font-size: 4rem;
  margin: 1rem;
  display: inline-block;
  text-transform: uppercase;
}

h2 a:hover {
  text-decoration: none;
  color: #8a8a8a;
}

.photoitem__footer div {
  border: 1px solid #ddd;
  width: 50%;
  border-left: none;
  padding: 3px;
  cursor: pointer;
  float: left;
}

.photodetails {
  margin: 2rem auto;
}

.photodetails ul {
  padding: 0;
}

.photodetails ul li {
  list-style-type: none;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 7px 0;
}
.photodetails ul li div {
  display: inline-block;
}
.photodetails ul li div:first-of-type {
  color: #287ba0;
  font-weight: bold;
  margin-right: 4px;
}

/* AddPhoto */
.btn-addphoto {
  float: right;
  margin-bottom: 7px;
}
